.container {
  margin: auto;
  text-align: center;
  background-color: rgb(193, 100, 129);
  padding:4% ;
}

h1{

  font-size: 23px;
}

input{

align-items: center;
width: 30%;
height: 36px;
background-color:  #a17f67;
border-radius: 10px;
border-color: blue;


}

input:hover{

background-color: #a1b65d;


}
